*~
ecbundle
ecbundle/*
build/*
source/*
serialbox2hdf5/venv
serialbox2hdf5/serialbox
benchmark/venv
benchmark/rundir
venv/
__pycache__/
.DS_Store
.dace.conf
.gt_cache/
.idea/
.python-version
*.egg-info/
