# CLAW model SCA configuration file for CLOUDSC dwarf

[model] # Definition of global model information
  name = "CLOUDSC"

[[dimensions]] # Definition of dimensions that can be used in layouts
  id = "JL"
  [dimensions.size]
    lower = 1             # if not specified, 1 by default
    upper = "KLON"        # mandatory information
  [dimensions.iteration]
    lower = "KIDIA"  # if not specified size.lower by default
    upper = "KFDIA"  # if not specified size.upper by default
    step = 1         # if not specified, 1 by default

[[layouts]] # Definition of layouts and default layout for specific target
  id = "default" # mandatory layout, used if no specific target layout
                 # specified
  position = [ "JL", ":" ]
